@model IList<ChangeLogWeb.Models.ViewModels.PullRequestEventViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (var pullrequest in Model)
{
    <p>@pullrequest.Id</p>
    <p>@pullrequest.Action</p>
    <p>@Html.Raw(pullrequest.Body)</p>
    <p>@pullrequest.CreatedAt</p>
    <p>@pullrequest.MergedAt</p>
    <p>@pullrequest.Merged</p>
    <p>@pullrequest.MergedBy</p>
    <p>@pullrequest.RepositoryName</p>
    <p>@pullrequest.Title</p>
}
