@model IList<ChangeLogWeb.Models.ViewModels.PullRequestEventViewModel>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container-fluid">

    <nav class="navbar  navbar-expand-lg navbar-dark bg-dark" style="margin:0 auto">
        <a class="navbar-brand" href="#">Changelog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="margin-left:100px">
                    <a class="nav-link" href="#">Filtros:</a>
                </li>
                <li class="nav-item active">
                    <form class="form-inline" style="margin:0">
                        <label style="color:#FFF;margin:0 15px">Repository Name</label>
                        <select class="form-control" onchange="Filter()" id="RepositoryNameSelect">
                            <option value="">...</option>
                            <option value="changelog-tests">changelog-tests</option>
                            <option value="changelog-tests2">changelog-tests2</option>
                        </select>

                        <label style="color:#FFF; margin:0 15px">Label Name</label>
                        <select class="form-control" onchange="Filter()" id="LabelNameSelect">
                            <option value="">...</option>
                            <option value="bug">bug</option>
                            <option value="enhancement">enhancement</option>
                        </select>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success my-2 my-sm-0" id="BuscarBtn" href="" style="color:#FFF; margin:0 15px">Buscar</a>
                </li>
            </ul>
            
        </div>
    </nav>

    <div class="row">
        <div class="col-md-5 col-md-offset-5" style="margin:0 auto">
            @*<div class="row">
                <div style="width:40%; float:left;z-index:999999">
                    <label>RepositoryName</label>
                    <select class="form-control" onchange="Filter()" id="RepositoryNameSelect">
                        <option value="">...</option>
                        <option value="changelog-tests">changelog-tests</option>
                        <option value="changelog-tests2">changelog-tests2</option>
                    </select>
                </div>
                <div style="width:40%; float:left; margin-left:50px;z-index:999999">
                    <label>LabelName</label>
                    <select class="form-control" onchange="Filter()" id="LabelNameSelect">
                        <option value="">...</option>
                        <option value="bug">bug</option>
                        <option value="enhancement">enhancement</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <a class="btn" id="BuscarBtn" href="" style="z-index:999999">Buscar</a>
            </div>*@
            <div class="row">
                @foreach (var pullrequest in Model)
                {
                    <div class="card" style="border:0">
                        <div class="card-body">
                            <h4 class="card-title">@pullrequest.Title </h4>
                            <h6 class="card-subtitle mb-2 text-muted">@pullrequest.MergedAt by @pullrequest.MergedBy </h6>
                            @if (pullrequest.Labels != null)
                            {
                                foreach (var label in pullrequest.Labels)
                                {
                                    <span style="background:blue; border-radius:30px; width:100%; padding:0% 3%; color:#FFF; font-size:14px">@label.Name</span>
                                }
                            }
                            <p class="card-text">@Html.Raw(pullrequest.Body)</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @*<div style="width:40%; margin:2% 32%; border:0; float:left">
            <div class="row">
                <div style="width:20%; float:left;z-index:999999">
                    <label>RepositoryName</label>
                    <select class="form-control" onchange="Filter()" id="RepositoryNameSelect">
                        <option value="">...</option>
                        <option value="changelog-tests">changelog-tests</option>
                        <option value="changelog-tests2">changelog-tests2</option>
                    </select>
                </div>
                <div style="width:20%; float:left; margin-left:50px;z-index:999999">
                    <label>LabelName</label>
                    <select class="form-control" onchange="Filter()" id="LabelNameSelect">
                        <option value="">...</option>
                        <option value="bug">bug</option>
                        <option value="enhancement">enhancement</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <a class="btn" id="BuscarBtn" href="" style="z-index:999999">Buscar</a>
            </div>
        </div>

        <div class="col-lg-12">
            @foreach (var pullrequest in Model)
            {
                <div class="card" style="width:40%; margin:2% 32%; border:0">
                    <div class="card-body">
                        <h4 class="card-title">@pullrequest.Title </h4>
                        <h6 class="card-subtitle mb-2 text-muted">@pullrequest.MergedAt by @pullrequest.MergedBy </h6>
                        @if (pullrequest.Labels != null)
                        {
                            foreach (var label in pullrequest.Labels)
                            {
                                <span style="background:blue; border-radius:30px; width:100%; padding:0% 3%; color:#FFF; font-size:14px">@label.Name</span>
                            }
                        }
                        <p class="card-text">@Html.Raw(pullrequest.Body)</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            }
        </div>*@
</div>



<script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>

<script>
    function Filter() {
        let repositoryName = $('#RepositoryNameSelect').val();
        let labelName = $('#LabelNameSelect').val();

        $('#BuscarBtn').prop('href', '/changelog?repositoryName=' + repositoryName + "&labelName=" + labelName);
    }
</script>